.about {
  &__wrapper {
    box-sizing: border-box;
    padding: 40px 15px;
  }

  &__title {
    font-size: var( --title-font-size);
    font-family: var(--title-font-family);
    line-height: var(--title-line-height);
    font-weight: var(--title-font-weight);
    color: var(--title-color);
    margin: 0;
    margin-bottom: 30px;
  }

  &__subtitle {
    font-size: var( --subtitle-font-size);
    font-family: var(--title-font-family);
    line-height: var(--title-line-height);
    font-weight: var(--subtitle-font-weight);
    color: var(--subtitle-color);
    margin: 0;
  }

  &__list {
    width: 290px;
    padding: 0;
    margin: 0;
    list-style: none;
    margin: 0 auto;
    margin-top: 40px;
  }
}

@media (min-width: $table-width) {
  .about {
    &__subtitle {
      font-size: 32px;
    }

    &__list {
      width: 750px;
    }
  }
}

@media (min-width: $desktop-width) {
  .about {
    &__wrapper {
      box-sizing: border-box;
      padding: 115px 15px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 30px;
    }

    &__list {
      width: 100%;
      margin-top: 0;
      grid-column: 1/2;
      grid-row: 1/span 5;
    }

    &__title {
      grid-column: 2/-1;
    }

    &__subtitle {
      grid-column: 2/-1;
    }

    &__text {
      grid-column: 2/-1;
    }
  }
}

