.button {
  display: inline-block;
  color: #ffffff;
  letter-spacing: 0.8px;
  background-color: #fb0275;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 30px;
  text-align: center;
}
