.page-header {
  background-color: #9642ec;
  grid-row: 1/2;
  grid-column: 1/-1;
  align-self: start;
  z-index: 100;

  &__wrapper {
    display: grid;
    grid-template-columns: 107px 1fr;
    column-gap: 30px;
    min-height: 50px;
    align-items: center;
    padding: 15px 15px 10px 15px;
  }

  &__logo {
    font-size: 18px;
    font-weight: 800;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.9px;
  }

  &__button {
    justify-self: end;
    border: none;
    padding: 0;
    background-color: transparent;
    width: 25px;
    height: 16px;
    background-image: url('../../img/menu-icon.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    cursor: pointer;
  }
}

@media (min-width: $table-width) {
  .page-header {
    &__wrapper {
      min-height: 60px;
      padding: 20px 30px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    &__wrapper {
      min-height: 60px;
      padding: 60px 30px;
    }

    &__button {
      display: none;
    }

    &__nav {
      justify-self: end;
    }
  }
}
